<!DOCTYPE html> 
<html> 
  <head> 
     <title> {{ page.title }}</title> 
     <!--link to main stylesheet --> 
     <link rel="stylesheet" type="text/css" href="/css/main.css">
     <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head> 
<body> 
  <nav id="navigate"> 
    <ul> 
      <li> <a href="/">Home</a></li>
      <li> <a href="/about">About</a></li>
      <li> <a href="/blog.index">BLOG</a></li>
   </ul> 
  </nav> 
  <div class="container" id="container"> 
    <div id = "content">
  {{ content }} 
</div>     
<footer id = "footer"> 
  <ul> 
    <li><a href="https://github.com/weblabtutorial">github.com/weblabtutorial</a></li> 
    <li><a href="https://weblabtutorial.github.io"> weblabtutorial.github.io</a></li> 
  </ul> 
</footer> 
</div>
</body> 
</html> 
