<!DOCTYPE html> 
<html> 
  <head> 
     <title> {{ page.title }}</title> 
     <!--link to main stylesheet --> 
     <link rel="stylesheet" type="text/css" href="/ab2009.github.io/css/main.css">
     <link rel="stylesheet" type="text/css" href="/ab2009.github.io/css/style.css">
  </head> 
<body> 
  <nav id="navigate"> 
    <ul> 
      <li> <a href="/ab2009.github.io/">Home</a></li>
      <li> <a href="/ab2009.github.io/about">About</a></li>
   </ul> 
  </nav> 
  <div id="container"> 
  {{ content }}
  </div> 
<footer id = "footer"> 
  <ul> 
    <li><a href="https://github.com/weblabtutorial">github.com/weblabtutorial</a></li> 
    <li><a href="https://weblabtutorial.github.io"> weblabtutorial.github.io</a></li> 
  </ul> 
</footer> 
</body> 
</html> 
